<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu_book</mat-icon>
  </button>
  <span>Online Test</span>
  <span class="spacer"></span>
  <a
  *ngIf="!isUserLoggedIn"
   [routerLink]="'/login'" mat-icon-button class="me-5 ms-5">
    <mat-icon>login</mat-icon>
    Login
  </a>

     <a 
  *ngIf="isUserLoggedIn"
  routerLink="/admin/profile"
  mat-icon-button class="me-5 ms-5">
    <mat-icon>account_circle</mat-icon>
    {{currentUsername}}
  </a>
  <a 
  *ngIf="!isUserLoggedIn"
  [routerLink]="'/signup'" mat-icon-button class="me-5 ms-5">
    <mat-icon>how_to_reg</mat-icon>
    Register
  </a>

   <a 
  *ngIf="isUserLoggedIn"
  (click)="logout()"
  mat-icon-button class="me-5 ms-5">
    <mat-icon>logout</mat-icon>
    Logout
  </a>
</mat-toolbar>

 

 
