<mat-card>
    <mat-list>
        <div mat-subheader>All Categories</div>
        <mat-list-item *ngFor="let c of categories">
            <mat-icon mat-list-icon>category</mat-icon>
            <div mat-line mat-card-title>{{c.cat_title}}</div>
            <div mat-line mat-card-subtitle>{{c.cat_description}}</div>
            <mat-divider></mat-divider>
        </mat-list-item>
    </mat-list>
    <mat-action-list class="text-center">
        <button mat-raised-button color="accent" routerLink="/admin/add-category">Add Category</button>
    </mat-action-list>
</mat-card>
