.profile-image{
    max-width: 150px;
    max-height: 150px;
    border: 2px solid black;
    border-radius: 50%;
}

.table{
    width: 100%;
    color: white;
    
}

.table tr td{
    padding: 10px 50px;
    border: 0.5px solid black;
    border-collapse: collapse;
    
}